/apps/CourseSiteGenerator/nbproject/private/
/apps/CourseSiteGenerator/build/
/apps/CourseSiteGenerator/dist/
/libs/DesktopJavaFramework/build/
/libs/DesktopJavaFramework/dist/
/libs/DesktopJavaFramework/nbproject/private/